<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @question.description %>
</p>

<p>
  <%= render template: 'answers/index' %>
</p>

<%= link_to 'New answer', new_question_answer_path(@question) %>
<br>
<br>
<% if session[:user_id] == @question.user_id %>
  <%= render partial: 'layouts/usermatch' %>
<% end %>
<%= link_to 'Back to questions', questions_path %>
<br>
<br>
<%= render partial: "layouts/signout" %>
